## Imports

In [1]:
import os

import pandas as pd
import geopandas as gpd
import numpy as np
import geopy.distance
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns
import plotly.express as px # type: ignore

from datetime import date, timedelta
from tqdm.auto import tqdm

tqdm.pandas()

In [22]:
# Water quality table from TableauDataAlpha
df_wq = pd.read_csv('Data Prep/tbl_sfbay_20240710_CLEANED.csv').reset_index(drop=True)
df_wq.datetime = pd.to_datetime(df_wq.datetime)
display(df_wq.head())

# Flowthrough data
df_ft = pd.read_parquet('Merges/PETERSON_FINAL.parquet').reset_index(drop=True).drop(columns='index')
df_ft.datetime = pd.to_datetime(df_ft.datetime)
display(df_ft.head())

,Date,Time,datetime,station_id,Depth,Discrete_Chlorophyll,Calculated_Chlorophyll,Discrete_Oxygen,Calculated_Oxygen,Discrete_SPM,Calculated_SPM,Extinction_Coefficient,Salinity,Temperature
0,1994-11-29,00:00:00,1994-11-29,36.0,1.0,NaN,2.9,NaN,8.2,NaN,96.0,NaN,27.63,10.23
1,1994-11-29,00:00:00,1994-11-29,36.0,2.0,2.9,2.9,7.9,8.2,95.3,98.0,NaN,27.65,10.25
2,1994-11-29,00:00:00,1994-11-29,36.0,3.0,NaN,2.9,NaN,8.2,NaN,98.0,NaN,27.69,10.27
3,1994-11-29,00:00:00,1994-11-29,36.0,4.0,NaN,2.9,NaN,8.2,NaN,96.0,NaN,27.73,10.29
4,1994-11-29,00:00:00,1994-11-29,36.0,5.0,NaN,2.9,NaN,8.2,NaN,95.0,NaN,27.75,10.29

,datetime,lat,lon,depth,photic_depth,wind_spd,wind_dir,water_temp,air_temp,bow_temp,...,dataset,file,datetime_out,new_lat,new_lon,dist_m,p_id,d_from_start,d_from_station,station_id
0,1994-11-29 05:25:21,37.55778,-122.2006,9.5,NaN,2.8,333.0,NaN,5.99,10.667,...,MIDAS,11290520.001,1994-11-29 05:25:21,37.559167,-122.199167,199.311480,1102.0,17.913932,929.348040,30.0
1,1994-11-29 05:25:27,37.55806,-122.2006,9.9,NaN,2.7,341.0,NaN,5.66,10.677,...,MIDAS,11290520.001,1994-11-29 05:25:27,37.559500,-122.199833,173.585801,1104.0,17.990672,998.896984,30.0
2,1994-11-29 05:25:33,37.55861,-122.2006,10.1,NaN,2.9,341.0,NaN,5.83,10.685,...,MIDAS,11290520.001,1994-11-29 05:25:33,37.559500,-122.199833,119.774825,1104.0,17.990672,998.896984,30.0
3,1994-11-29 05:25:39,37.55889,-122.2006,10.3,NaN,2.6,339.0,NaN,5.73,10.689,...,MIDAS,11290520.001,1994-11-29 05:25:39,37.559500,-122.199833,95.772003,1104.0,17.990672,998.896984,30.0
4,1994-11-29 05:25:45,37.55944,-122.2006,10.6,NaN,2.7,342.0,NaN,5.68,10.691,...,MIDAS,11290520.001,1994-11-29 05:25:45,37.559833,-122.200333,49.607724,1107.0,18.058674,1055.890438,30.0

In [23]:
df_temp = df_ft[df_ft.datetime.dt.date == '2016-01-21']
display(df_temp.head())

Empty DataFrame
Columns: [datetime, lat, lon, depth, photic_depth, wind_spd, wind_dir, water_temp, air_temp, bow_temp, barometer, chlor, turbidity, suspended_part, salinity, fluor_switch, comment, mark, dataset, file, datetime_out, new_lat, new_lon, dist_m, p_id, d_from_start, d_from_station, station_id]
Index: []

[0 rows x 28 columns]